
@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Exception occured in URL.</h1>
<h4>Status Code: @ViewBag.Code</h4>
<h4>Error Message: @ViewBag.ErrorMessage</h4>
<h2 class="text-danger">An error occurred while processing your request.</h2>



